body,html,header,section,footer{
	margin:auto;
}
header{
	width: 100%;
	display: flex;
}
body{
	width: 1200px;
}

li{
	display: inline;

}

nav{
	text-align: center;
	color: white;

}


#menu_center nav ul li a{
	text-decoration: none;
	color: white;
	padding:5px;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

#menu_center_left{
	float: left;
	color: white;
	font-size: 15px;


}

#menu_center_right{
	float: right;
	color: white;
	font-size: 10px;
	
}
#menu_center_right i{
	padding: 15px;
}


#menu_center{
	background-image: url('images/tlo_menu_srodek.jpg') ;
	background-size: 100% 100%;
	width: 90%;
	height: 211px;
}

.menu_left{
	
	background-image: url('images/tlo_menu_lewe.jpg');
	background-size: 100% 100%;
	width: 5%;
	height: 211px;
}
.menu_right{
	
	background-image: url('images/tlo_menu_prawe.png');
	background-size: 100% 100%;
	width: 5%;
	height: 211px;
}



#menu_content{
	background-image: url('images/menu_dol.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%px;
	height: 430px;
	text-align: center;
	display: inline-block;

}

h1{
	font-size: 40px;
	font-family: 'Playfair Display', serif;

}

#menu_content article{

	font-family: 'Montserrat', sans-serif;

}

section{
	margin: auto;
	width: 100%;
	display: flex;
	position: relative;
	color:white;
}

#content-box-1{
	background-image: url('images/content_1.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 25%;	
}


#content-box-2{
	background-image: url('images/content_2.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 25%;	
}


#content-box-3{
	background-image: url('images/content_3.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 25%;	
}


#content-box-4{
	background-image: url('images/content_4.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 25%;
	min-height: 400px;
}

#section-text{
	margin-right: 10%;
	margin-left: 10%;
}

.content-text{
	background: white;
	width: auto;
	min-height: 240px;
	color:black;
	width: 25%;
}



footer{

	background:black;
	width: 100%;
	height: 50px;
	color: white;
	font-style: italic;
	text-align: center;

}


