body,html,header,section,footer{
	margin:auto;
}
header{
	width: 960px;
	display: flex;
}

li{
	display: inline;

}

.menu_center{
	background-image: url('images/tlo_menu_srodek.jpg') ;
	background-size: 100% 100%;
	width: 860px;
	height: 211px;


}
.menu_left{
	
	background-image: url('images/tlo_menu_lewe.jpg');
	background-size: 100% 100%;
	width: 50px;
	height: 211px;
}
.menu_right{
	
	background-image: url('images/tlo_menu_prawe.png');
	background-size: 100% 100%;
	width: 50px;
	height: 211px;
}



#menu_content{
	background-image: url('images/menu_dol.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 960px;
	height: 430px;

}

section{
	width: 960px;
	display: flex;
}

#content-box-1{
	background-image: url('images/content_1.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 240px;	
}


#content-box-2{
	background-image: url('images/content_2.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 240px;	
	height: 240px;
}


#content-box-3{
	background-image: url('images/content_3.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 240px;	
}


#content-box-4{
	background-image: url('images/content_4.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 240px;	
}


.content-text{
	background: white;
	width: auto;
	min-height: 240px;
}



footer{

	background:black;
	width: 960px;
	height: 50px;

}


